<div{{ attributes }}>
    {{ time|date('H:i:s') }}
    <button
        type="button"
        class="btn btn-secondary"
        data-action="live#action"
        data-action-name="update()"
    >
        Update
    </button>
</div>
